/*/ Set the body base/*/
body {
background-color: #111111;
color: white;
font-family: Cantarell;
}

/*/ set the td syles /*/
td {
font-size: 13.3px;
text-align:left;
padding:5px;
border: 1.5px solid white;
width: 300px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
  font-weight:bold;
}


/*/Controle the search bar title style/*/
p {
font-size: 30px;
font-weight: bold;
font-family: Cantarell;

}
/*/ the base Grid container/*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #770a0a;
  padding: 10px;
  
}
/*/ Each block in the grid/*/
.grid-item {
  background-color: #770a0a;
  border: #770a0a;
  padding: 20px;
  font-size: 20px;
  font-family: Cantarell;
  text-align: center;
  color: white;
}
/*/Search button style/*/
.button {
  background-color: #770a0a; /* go */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  height:42px;
}
.btngo {
	background-color: #770a0a;
	color: white;
    border: 1px solid white;
}
.btngo:hover {
  background-color: #7b3737; 
  color: white; 
  border: 1px solid #770a0a;
}

/*/Search box Style*/
input[type=search], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #ffffff;
  width: 280px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #770a0a;
  color: white;
  float: left;
    border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #7b3737;
  color: white;
  
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #7b3737;
  color: white;
  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid #ccc;
  border-top: none;
  background-color: #770a0a;
  
} 

table {width:100%; padding: 4px 6px;  }

td {font-size:14px; border: none;}


